.commandeComposee {
  padding: 8px;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid lightgray;
  padding: 40px 0 30px 0;
  .recapitulatifCommandeComposee {
    width: 80%;
    margin-top: 8px;
    background-color: white;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;

    div {
      width: 100%;

      .buttonRecommanderMultiple {
        color: var(--colorText);
        background-color: var(--colorButton);
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        max-width: 200px;
        border: none;
      }

      .buttonRecommanderMultiple:hover {
        background-color: var(--colorButtonHover);

      }

      .buttonRecommanderMultiple:active {
      }
    }

    .recapCommandeMultipleDivGauche {
      border-right: 2px solid lightgray;
    }
  }
}

.commandeArticleUnique {
  padding: 8px;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid lightgray;
  padding: 40px 0 30px 0;
}
