.mainCommandeSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  width: 50vw;
  overflow-y: auto;
  top: 0;
  h2 {
    font-size: var(--fontSizeH1);
    font-family: "Jost", sans-serif;
  }
  .sectionCommandeProfil {
    width: calc(50vw - 40px);
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .div-section-minicards {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
      overflow-x: auto;
    }

    .total-commande {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: space-around;
      align-items: center;
      padding-left: 16px;
      border-left: 2px solid lightgray;

      button {
        padding: 8px;
        border-radius: 8px;
        background-color: #7662a3;
        color: white;
        cursor: pointer;
        width: 130px;
        border: none;
      }
      button:hover {
        background-color: var(--myColorHover);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .mainCommandeSection {
    flex-direction: column;
    width: 100vw;
    align-items: center;

    .sectionCommandeProfil {
      width: 90%;
    }
  }
}
