.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #d5c1d7;
  display: flex;
  flex-wrap: wrap;
  min-width: 30%;
  margin: 10px;
  overflow-y: auto;
  height: 25em;
}

.column2 {
  flex: 1;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #d5c1d7;
  display: flex;
  flex-wrap: wrap;
  min-width: 30%;
  margin: 10px;
  overflow-y: auto;
  height: 25em;
  gap: 25px;
}

.carte {
  cursor: move;
}
