.mainFavorisSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 40vw;
  h2 {
    font-size: var(--fontSizeH1);
    font-family: "Jost", sans-serif;
  }
  .main-favoris-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    .div-favoris-container {
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px;
      width: 100%;
      padding-bottom: 50px;
      box-sizing: border-box;
      // div {
      //   height: 300px;
      //   // width: 133px;

      //   // transform: scale(0.75);
      // }
    }
  }
}

@media screen and (max-width: 900px) {
  .mainFavorisSection {
    width: 100vw;
    align-items: center;

    .main-favoris-container {
      width: 90%;
    }
  }
}
