.section-filters {
  padding: 0 20px 0 20px;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  width: 15vw;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  padding-bottom: 16px;
  border-right: 2px solid black;

  .filtersBundleTitle {
    p {
      margin: 0;
      font-size: 1.5rem;
      color: black;
    }
  }

  .filtersBundleFilters {
    // background-color: red;
    width: auto;
    height: auto;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;

    #resetButtonFiltersBundle {
      width: 6rem;
      height: 3rem;
      margin: 2rem 0 0 0;
      font-size: 1.1rem;
      border: 3px outset lightgrey;
      background-color: lightgrey;
      border-radius: 16px;
    }

    #resetButtonFiltersBundle:hover {
      border: 3px outset #c7cd6f;
    }

    #resetButtonFiltersBundle:active {
      border: 3px inset #c7cd6f;
    }

    .div-filtre-theme,
    .div-filtre-aLaCarte {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;

      .image-filter {
        display: block;
        width: 40px;
        height: 40px;
        // filter: invert(1);
        cursor: pointer;
        border-radius: 10px;
        transition: transform 0.25s;
      }

      .image-filter:hover {
        transform: scale(1.2);
      }

      .filtreActif {
        border: 1px solid var(--couleurFiltreActif);
        background-color: var(--couleurFiltreActif);
        filter: invert(1);
      }

      .image-filter.active {
        background: rgba(14, 241, 14, 0.751);
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .section-filters {
    flex-wrap: wrap;

    .filters {
      flex-basis: 100%;
      text-align: center;
      order: 3;
    }
  }
}

// @media screen and (max-width: 600px) {
//   .section-filters {
//     .filter-barre-recherche {
//       input {
//         width: 130px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 520px) {
//   .section-filters {
//     .filter-barre-recherche {
//       display: none;
//     }
//   }
// }
