.globalNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  background-color: pink;
}
