@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap");

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 90;
  height: 80px;
  top: 0;
  transition: 0.5s ease;
  .homeRightDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: white;
    width: 100%;
    .aLaCarte,
    .prefabrique {
      font-family: "Jost", sans-serif;
      font-size: 20px;
    }
  }

  .centreDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 60px;
      width: auto;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }
  }

  .homeLeftDiv {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    button {
      background: none;
      border: none;
      width: 60px;
      height: 50px;
      transition: transform 0.3s ease;
    }
    button:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  button {
    width: 5em;
    height: 2em;
    z-index: 3;
  }

  #userActive img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
    border: 1px solid lightgray;
  }
}

#Account::after {
  content: "Mon compte";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  color: black;
  font-size: 18px;
}

#Account:hover::after {
  visibility: visible;
}

#Cart::after {
  content: "Mon panier";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  color: black;
  font-size: 18px;
}

#Cart:hover::after {
  visibility: visible;
}

.change-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-image: linear-gradient(
    90deg,
    rgba(167, 170, 121, 0.8) 1%,
    rgba(211, 131, 101, 0.8) 38%,
    rgba(157, 137, 211, 0.8) 73%,
    rgba(109, 182, 223, 0.8) 100%
  );
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(107, 107, 107, 0.52);
  box-shadow: 0px 0px 15px 5px rgba(88, 88, 88, 0.52);
  z-index: 90;
  height: 80px;
  top: 0;
  border-bottom-left-radius: 40% 1.25rem;
  border-bottom-right-radius: 40% 1.25rem;
  transition: 1s ease;
  .homeRightDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: white;
    width: 100%;
  }

  .centreDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ease;
    img {
      height: 60px;
      width: auto;
      opacity: 1;
      transition: 1s ease;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
      }
    }
  }

  .homeLeftDiv {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    button {
      background: none;
      border: none;
      width: 60px;
      height: 50px;
    }
    button:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  button {
    width: 5em;
    height: 2em;
    z-index: 3;
  }

  button:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  #userActive img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
    border: 1px solid lightgray;
  }
}
// .seConnecter {
//   display: flex;
//   justify-content: center;
// }

.test {
  display: flex;
  flex-direction: row;
}

.menuProfilNavbar {
  width: 230px;
  height: 250px;
  top: 0;
  margin-right: 3em;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 24px 0px #000000;
  box-shadow: 0px 0px 14px 0px #000000ab;
  z-index: 40;
  position: fixed;
  right: -100%; /* Commence à l'extérieur de l'écran à droite */
  animation: slide-in 1s forwards;
  .profilPopupNav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    div {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .SeDeconnecter {
    height: fit-content;
  }
  .imageUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    h2 {
      width: 200px;
      text-decoration: underline;
    }
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  button {
    width: 150px;
    height: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(178, 72, 72);
    color: white;
  }

  button:hover {
    transform: scale(1.2);
  }

  .displayNone {
    display: none;
  }

  .linkProfilElementNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22%;
    width: 100%;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    z-index: 4;
    transition: 0.2s ease;

    p {
      font-family: "Jost";
      font-size: 20px;
    }
  }

  .linkProfilElementNavbar:hover {
    transform: scale(1.1);
  }
}
.toutesLesDivs {
  width: 100%;
  height: 400px;
  display: flex;
  top: 0;
  justify-content: end;
  align-items: end;
  position: absolute;
  flex-direction: column;
}

// #profilImage {
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   object-fit: cover;
// }

.menuProfilNavbarSmall {
  width: fit-content;
  height: fit-content;
  top: 0;
  position: fixed;
  margin-right: 2.5em;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e3e3e3;
  z-index: 40;
  transform: translateX(200%);
  opacity: 0;
  animation: slide-in-anim 1s ease-out forwards;
}
@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.reve {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(143, 143, 143);
  cursor: pointer;
  height: 55px;
  text-align: center;
  background-size: 300% 100%;
  background-color: linear-gradient(
    90deg,
    rgb(210, 216, 127) 1%,
    rgba(211, 131, 101, 1) 38%,
    rgba(157, 137, 211, 1) 73%,
    rgba(109, 182, 223, 1) 100%
  );
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 2px solid;
}

.reve:hover {
  color: white;
  background-position: 100% 0;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
    90deg,
    rgba(167, 170, 121, 1) 1%,
    rgba(211, 131, 101, 1) 38%,
    rgba(157, 137, 211, 1) 73%,
    rgba(109, 182, 223, 1) 100%
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.reve:focus {
  outline: none;
}

.cauchemar {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(143, 143, 143);
  cursor: pointer;
  height: 55px;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 2px solid;
}

.cauchemar:hover {
  color: white;
  background-position: 100% 0;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
    90deg,
    rgb(255, 0, 0) 1%,
    rgb(177, 1, 1) 38%,
    rgb(139, 0, 0) 73%,
    rgb(0, 0, 0) 100%
  );
  box-shadow: 0 4px 15px 0 rgb(241, 57, 57);
}
.cauchemar:focus {
  outline: none;
}

.prefabrique {
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 20px;

  transition: transform 0.3s ease;
  &:visited {
    text-decoration: none;
    color: white;
  }
}

.prefabrique:hover {
  transform: scale(1.2);
}

.aLaCarte {
  text-decoration: none;
  border: none;
  background: none;
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  z-index: 0;

  transition: transform 0.3s ease;
}
.aLaCarte:hover {
  transform: scale(1.2);
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

.change-bg-dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-image: linear-gradient(
    90deg,
    rgba(148, 17, 17, 0.8) 1%,
    rgba(57, 19, 19, 0.8) 38%,
    rgba(174, 11, 11, 0.8) 73%,
    rgba(0, 0, 0, 0.8) 100%
  );
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(107, 107, 107, 0.52);
  box-shadow: 0px 0px 15px 5px rgba(88, 88, 88, 0.52);
  z-index: 90;
  height: 80px;
  top: 0;
  border-bottom-left-radius: 40% 1.25rem;
  border-bottom-right-radius: 40% 1.25rem;
  transition: 1s ease;
  .homeRightDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: white;
    width: 100%;
    .aLaCarte,
    .prefabrique {
      font-family: "Jost", sans-serif;
      font-size: 20px;
    }
  }

  .centreDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    img {
      height: 60px;
      width: auto;
      opacity: 1;
      transition: 1s ease;
    }
    &:hover {
      transform: scale(1.1);
      transition: 0.5s ease;
    }
  }

  .homeLeftDiv {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    button {
      background: none;
      border: none;
      width: 60px;
      height: 50px;
    }
    button:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  #userActive img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
    border: 1px solid lightgray;
  }
}

@keyframes slide-in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
