.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  .homeRightDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap: 3rem;
    color: white;
    img {
      height: 5rem;
    }
  }
  .homeLeftDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
    button {
      background: none;
      border: none;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
