.mainProfilSection {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  height: fit-content;
  h1 {
    margin-bottom: 40px;
    color: var(--colorText);
    margin-left: 24px;
    font-size: var(--fontSizeH1);
    font-family: "Jost", sans-serif;
  }

  div {
    padding-left: 24px;
    section {
      margin: 30px 0 30px 0;

      p {
        text-align: left;
        color: var(--colorText);
        font-size: var(--fontSizeP);
        font-weight: thin;

        span {
          // color: #c3bef6;
          color: var(--colorBoutonMenuProfil);
        }
      }
    }
  }
}
