.mainCommandeSection {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  height: 65vh;
  width: 50vw;
  overflow-y: auto;
  border-left: 3px solid lightgray;
  padding-left: 24px;

  .sectionCommandeProfil {
    width: calc(50vw - 24px);
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .div-section-minicards {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
      overflow-x: auto;
    }

    .total-commande {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: space-around;
      align-items: center;
      padding-left: 16px;
      border-left: 2px solid lightgray;

      button {
        padding: 8px;
        border-radius: 8px;
        background-color: lightgray;
        border: 3px outset lightgray;
        color: white;
        cursor: pointer;
      }

      button:hover {
        border: 3px outset #c7cd6f;
      }

      button:active {
        border: 3px inset #c7cd6f;
      }
    }
  }
}
