// .bundleCards {
//   display: grid;
//   grid-template-columns: repeat(4, 250px);
//   grid-template-rows: repeat(18, 300px);
//   grid-row-gap: 40px;
//   grid-auto-flow: row;
// }

.bundleCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
