@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Capriola", sans-serif;
}

:root {
  --my-color: #ffffff;
  --text-color: #000000;
  --sectionTitle-background: url("src/assets/images/sectionTitle.png");
  --top-page-background: url("src/assets/images/topPage.png");
}

.Reve {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 3em;
}

.Cauchemar {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 3em;
}

.topPage {
  background-image: var(--top-page-background);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  border-bottom-left-radius: 70% 9.25rem;
  border-bottom-right-radius: 70% 9.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 20px 2px rgba(89, 89, 89, 0.762);
}

.topSwitchGlobal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 10em;
  position: absolute;
}

.topSwitchText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 30px;
  gap: 2rem;
}

.divText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  height: 60vh;
  width: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  :nth-child(1) {
    color: #a2a2a2;
    width: 60vw;
  }
  :nth-child(2) {
    color: #a2a2a2;
    margin-top: 10px;
  }
  :nth-child(3) {
    color: #414141;
    margin-top: 60px;
  }
}

.sectionTitle1 {
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  background-image: var(--sectionTitle-background);
  background-size: cover;
  background-repeat: no-repeat;
}
.sectionTextImg {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: white;
  .imgSection1 {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    width: 40%;
  }
  .textSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 60%;
    :nth-child(1) {
      font-size: 30px;
      margin-bottom: 40px;
    }
    :nth-child(2) {
      width: 40em;
      font-size: 30px;
    }
    :nth-child(3) {
      font-size: 25px;
      margin-top: 100px;
    }
    :nth-child(3) {
      font-size: 30px;
    }
  }
}

.sectionDisclaimer {
  border: 2px solid purple;
  height: 20;
  :nth-child(1) {
    color: #ffffff;
  }
}

.makeIt {
  height: 70vh;
}

.sectionTitle2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: var(--sectionTitle-background);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: white;
  .textSection2 {
  }
}

.Girl {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 3em;
}

.Sorcière {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 3em;
}

.pikcOne {
  height: 40vh;
}

.sectionTitle3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: var(--sectionTitle-background);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: white;
}
