
:root {
  --my-color: #7661a3; // Définir une propriété CSS personnalisée
  --my-url-background: url("src/assets/images/backgroundPurple.svg");
}



* {
  margin: 0;
  padding: 0;}


  $imgShadowColor: #7661a3;
  $urlBackground: "src/assets/images/backgroundPurple.svg";


body {
  background-image: var(--my-url-background);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: 1;
  width: 100vw;
  z-index: -66;
}



.bodyHomepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logoDreamIt {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  p {
    margin-top: 27em;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    width: 30em;
  }
  img {
    display: flex;
    position: absolute;
  }
}

.Light {
  margin-top: 9em;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  height: 50em;
  width: 50em;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0px 0px 55px 53px $imgShadowColor,
    inset 0px 0px 55px 53px $imgShadowColor;
  box-shadow: 0px 0px 200px 200px $imgShadowColor,
    inset 0px 0px 100px 100px $imgShadowColor;
  img {
    width: 50em;
    height: 50em;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    -webkit-mask-image: radial-gradient(#7661a3, transparent);
    mask-image: radial-gradient(#7661a3, transparent);
  }
}

.Dark {
  margin-top: 9em;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  height: 50em;
  width: 50em;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0px 0px 55px 53px black,
    inset 0px 0px 55px 53px black;
  box-shadow: 0px 0px 200px 200px black,
    inset 0px 0px 100px 100px black;
  img {
    width: 50em;
    height: 50em;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    -webkit-mask-image: radial-gradient(black, transparent);
    mask-image: radial-gradient(black, transparent);
  }
}

.divImage {
  margin-top: 3em;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
}

.homeGlobal {
 
  display: flex;
  flex-direction: column;
}

.divSwitch {
  z-index: 88;
}
